.headbar {
  background-color: cyan;
  height: 2px;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  position: relative;
  bottom: 0.5em;
}

.appid-box {
  position: relative;
  bottom: 2.5em;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.appid-input {
  background-color: #222;
  color: white;
  -webkit-text-fill-color: white;
  width: 20em;
}

[class*="box-"] {
  outline: 1px solid;
  text-align: left;
}

.box-party {
  height: 200px;
  width: 390px;
}

.box-button {
  height: 250px;
  width: 390px;
}

.box-image {
  height: 150px;
  width: 390px;
}

.box-itext {
  height: 150px;
  width: 390px;
}

.box-text {
  height: 150px;
  width: 390px;
}

.box-cbox {
  height: 40px;
  width: 390px;
}

.other-area {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10px;
  gap: 10px;
}
